body{
    font-family: Calibri;
    height: 100vh;
    background: #1a2b3c;
}
.container{
    width: 75%;
    border: 1px solid white;
    border-radius: 15px;
    height: 100%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}